body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
}
h1, h2{
    color: #333;
    text-align: center;
}
ul{
    list-style-type: none;
    padding: 0;
}
#menu, #pedido{
    margin: 0 auto;
    padding: 10px;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
#menu li, #pedido li{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
#menu li:hover{
    background-color: #f0f0f0;
    cursor: pointer;
}
#total{
    font-weight: bold;
    font-size: 1.2em;
}
p{
    text-align: right;
    font-size: 1.2em;
    margin-right: 20px;
}
button {
    background-color: #6099e8;
    border-radius: 5px;
}